{% extends 'main.html' %}

{% block article %}

<h2>{{ article.title }}</h2>
<h6>Дата публикации: {{ article.date }}</h6>
<p>{{ article.text }}</p>
<p>Понравилось: {{ article.likes }}</p>
<hr>
<div class="large-offset-1 columns">
<h3>Комментарии:</h3>
{% for comment in comments %}
  <p>{{ comment.text }}</p>
  <p>{{ comment.author }} {{ comment.date }}</p>
  <hr>
{% endfor %}

{% if username %}
  <form method="post" action="/articles/addcomment/{{ article.id }}/">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Отправить</button>
  </form>
{% endif %}

</div>

{% endblock %}